body {
  background-color: skyblue;
}

h3 {
  color: black;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline double;
  letter-spacing: 5px;
  text-shadow: 2px 2px 5px blue;
}

h3:hover {
  text-shadow: 2px 2px 5px purple;
  text-decoration: underline double;
}

img {
  width: 30%;
    border-radius: 50%;
  border: dotted 5px black;
    
}

ul{
  list-style: none;
  background-color: silver;
  width: 100%;
  margin: 0;
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
}

li{
  display: inline;
  padding: 8px 35px;
  float: right;
}

a{
  text-decoration: none;
  color: blue;
  font-variant: small-caps;
}

li a:hover {
  background-color: lightblue;
  padding: 18px 18px;
  opacity 1;
}

body {
  background-color: skyblue;
}

h3 {
  color: black;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline double;
  letter-spacing: 5px;
  text-shadow: 2px 2px 5px blue;
}

h3:hover {
  text-shadow: 2px 2px 5px purple;
  text-decoration: underline double;
}

img {
  width: 30%;
    border-radius: 50%;
  border: dotted 5px black;
    
}
