<style>
body {
  background-color: skyblue;
}

h3 {
  color: black;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline double;
  letter-spacing: 5px;
  text-shadow: 2px 2px 5px blue;
}

h3:hover {
  text-shadow: 2px 2px 5px purple;
  text-decoration: underline double;
}

img {
  width: 30%;
    border-radius: 50%;
  border: dotted 5px black;
    
}
</style>
